<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3">
<div class="jumbotrone text-center">

<h1>Todo</h1>
<p class="small">Это мое приложение на  Ruby on rails</p>
<%= link_to 'Sign In', "#", class: 'btn btn-primary btn-lg' %>

</div>
</div>
</div>
</div>