<p>Пока у меня нет времени перевести рассказ про презентацию Трона и некоторые другие материалы с выставки Диснея D23,
  я начинаю тут публикацию серии «Архив». В нее войдут старые, уже опубликованные интервью и статьи, каковых, правда,
  немного, так как я специализируюсь в основном на интервью, так уж сложилось.

  Предлагаемую вам работу я писала для журнала Action, когда он ещё был просто журналом о кино.
</p>